language: android
jdk: oraclejdk8
sudo: require
env:
  global:
    - ANDROID_TARGET=android-22
    - ANDROID_ABI=armeabi-v7a

android:
    components:

        - tools
        - tools
        - platform-tools
        - build-tools-25.0.2
        - android-25
        - android-24
        - android-23
        - android-22
        - extra-google-m2repository 
        - extra-android-m2repository
        - extra-android-support
        - extra-google-google_play_services

    licenses:
        - 'android-sdk-preview-license-52d11cd2'
        - 'android-sdk-license-.+'
        - 'google-gdk-license-.+'

before_install:
  - bash .travis-android-license-bugfix.sh

before_script:
    - chmod +x gradlew

script: ./gradlew build