<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fga.mds.gpp.trezentos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trezentos"

        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".View.SignUpActivity" />
        <activity android:name=".View.AboutOnLogin" />
        <activity android:name=".View.ClassActivity" />
        <activity android:name=".View.EditClassActivity" />
        <activity android:name=".View.CreateClassActivity" />
        <activity android:name=".View.CreateExamActivity" />
        <activity android:name=".View.SearchActivity" />
        <activity android:name=".View.ExamActivity" />
        <activity android:name=".View.StudentClassActivity"></activity>
        <activity android:name=".View.StudentExamActivity"></activity>
        <activity android:name=".View.ForgotPasswordActivity"></activity>
    </application>

</manifest>